doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='initial-scale=1')
    title 5050
    link(href='favicon.ico',rel="icon")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic",rel='stylesheet')
    link(href="http://fonts.googleapis.com/css?family=Playball",rel="stylesheet")
    link(href='css/app.css',rel='stylesheet')
  body
    #header.wrap
      #logo: a(href='./') 5050
      ul
        li: a(data-scroll-nav='0',href='#about') 關於/About
        li: a(data-scroll-nav='1',href='#posts') 圖表/Works
        li: a(data-scroll-nav='2',href='#contact') 留言/Contact
      a#pull &#9776;
      .clearfix

    #about(data-scroll-index='0',data-scroll-reveal)
      h1 The Election<br>Experiments
      h2 50 days, 50 graphs
      a#scroll(data-scroll-nav='1',href="#posts"): i.angle.down.icon

    #posts.wrap(data-scroll-index='1',data-scroll-reveal)
      a(href="http://councils.g0v.tw/suggestions/",style='background-image:url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/10626177_1399472390277720_8594445247993402720_o.png)',target='_blank')
        .fg
          h3 議員工程建議款
          span by johnny
      a(href="http://muyueh.com/30/base_line/",style='background-image:url(https://scontent-b-hkg.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10698656_1399514046940221_1245137648334802601_n.png?oh=763032c87ebb782c60027754c8d9f5d2&oe=54AB0420)',target='_blank')
        .fg
          h3 男性、女性；那一個政黨比較容易當選村里長？
          span by muyueh
      a(href="http://bl.ocks.org/pm5/raw/5660f9cb0ee630e253bd/",style="background-image:url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10629574_1399579756933650_381005019705740377_n.png?oh=a3eee618b0f0a5737707bd551cc69fca&oe=54C27067&__gda__=1420557535_57140b1aac1e769a9721b06bea0e3d04)",target='_blank')
        .fg
          h3 選舉保證金
          span by pm5

    #contact(data-scroll-index='2',data-scroll-reveal)
      #disqus_thread.wrap
      noscript Please enable JavaScript to view the
        a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
      a.dsq-brlink(href='http://disqus.com') comments powered by
        span.logo-disqus Disqus

    footer(data-scroll-reveal)
      .wrap
        .by Page design by dirty
        | g0v 50/50 project
  
    script(src='app.js')
    script var disqus_identifier = 'nckuee-redesign.main'
    script(src='//nckuee-redesign.disqus.com/embed.js')

//- vi:et:nowrap:sw=2:ts=2 
